/* Filename: browse.css
Author: Marcus Chronabery
Date: 9/22/18 */

.btn-column {
    width: 30px;
}

.card-image, .detailed-view {
    float: right;
    margin-left: 10px;
}

#cart-add-success, #cart-add-failure {
    position: fixed;
}