/* file: sell.css
* author: Marcus Chronabery
* date: 9-29-18
*/

#sell-header-row {
    border-bottom: solid 3px #CCCCCC;
}

#sell-name-header, #sell-condition-header, #sell-available-header, #sell-price-header {
    width: 20%;
}

#btn-column-header {
    width: 5%;
}

.edit-sell-card, .card-image, #submit-sale {
    float: right;
}

#submit-sale {
    margin-left: -10px;
}

#button-wrapper {
    margin-bottom: 55px;
}

.card-image {
    margin-left: 10px;
}

#sell-edit-modal-body {
    max-height: 500px;
    overflow-y: scroll;
}