/* Filename: signup.css
* Author: Marcus Chronabery
* Date: 9/9/18 */
#signup-reset {
    margin-left: 10px;
}

fieldset {
    border: solid 1px black;
    border-radius: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#contact-information-legend {
    width: 225px;
    margin-left: 10px;
}

#purchase-information-legend {
    width: 235px;
    margin-left: 10px;
}

#signup-button-panel {
    margin-top: 10px;
}

label.validation-warning {
    float: left;
}

#valid-email-wrapper, #pass-match-wrapper, #valid-phone-wrapper {
    float: right;
}

@media (max-width:768px) {
    .right label:not(.validation-warning), #shipping-address-row label:not(.validation-warning):not(.top-label),
    #billing-address-row label:not(.validation-warning):not(.top-label) {
        margin-top: 20px;
    }
}